body {
	background-color: #f6772f;
	color: #000000;
	font-family: "sans-serif";
}

#container {
	margin: 0 auto;
	width: 750px;
}

h1 {
	font-size: 60px;
	color: #ffffff;
	margin-bottom: 3px;
 }

h1 a {
	text-decoration: none
}

h2 {
	font-size: 1.5em;
	color: #ffffff;
}

h3 {
	text-align: center;
	color: #ffffff;
}

a {
	color: #ffffff;
}

img {
	border: 0;
}

pre {
	background: #000;
	color: #fff;
	font-family: "monospace";
	font-size: 14px;
	line-height: 14px;
	padding: 10px;
}

.description {
	font-size: 22px;
	margin-bottom: 30px;
	margin-top: 30px;
	font-style: italic;
}

.download {
	float: right;
}

.footer {
	text-align: center;
	padding-top: 30px;
	font-style: italic;
}
